---
// WineRouteMap.astro - Wine Route location map component
---

<!-- <section id="gualtallary" class="bg-[#d9d7ca] py-16 px-6">     <span class="font-extralight text-gray-600">INSIDE </span>UCO  -->
<section
  id="gualtallary"
  class="relative h-3/6 md:min-h-[85%] text-white md:hidden flex-col justify-center overflow-hidden bg-cover bg-center bg-no-repeat"
  style="background-image: 
    linear-gradient(to bottom, rgba(41, 38, 39, 0.9), rgba(41, 38, 39, 0) 40%), 
    url('https://res.cloudinary.com/dijfs2fcy/image/upload/v1749691418/mapok_du9c2o.jpg');"
>



  <div class="mx-auto h-full flex flex-col justify-center">
    <!-- Left side: Text content -->

    <div class=" flex justify-center ">
      <img
        src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749688388/inside-uco-mapa_hwlqlp.svg"
        alt="img inside uco"
        class="w-[30%]"
      />
    </div>


  </div>
</section>

<style>
  /* Ensure text in SVG renders properly */
  svg text {
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
  }

  /* Responsive adjustments */
  @media (max-width: 1024px) {
    svg text {
      font-size: 12px;
    }

    svg .text-xs {
      font-size: 10px;
    }
  }
</style>
