---
// Banner Montañas 
const {src} = Astro.props
---

<section class="h-[282px] md:h-[90vh]">
  <img
    src={src}
    alt="montañas y una piscina"
    class="h-[282px] w-full md:h-full object-cover"
    style="max-width: 100%;"
  />
</section>