---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer/Footer.astro";
import Logos from "../components/Logos/Logos.astro";
import ContactForm from "../components/Contact/ContactForm.tsx";
import HeroSlider from "../components/HeroSlider/HeroSlider";
import BannerTextSlider from "../components/BannerTextSlider/BannerTextSlider";
import WineRouteMap from "../components/WineRouteMap/WineRouteMap.astro";
import BannerCabana from "../components/BannerCabaña/BannerCabaña.astro";
import BannerWineFroz from "../components/BannerWineFroz/BannerWineFroz.astro";
import BannerHeroImage from "../components/BannerHeroImage/BannerHeroImage.astro";
---

<Layout title="Inside Uco">
  <HeroSlider client:load />
  <BannerWineFroz />

  <BannerHeroImage
    src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749241385/lotes_m3bwet.jpg"
  />
  <div class="shrink-0 bg-[#D7D5CC] h-[3px] w-full"></div>

  <BannerHeroImage
    src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749241472/lotes2_x31ahn.jpg"
  />

  <BannerTextSlider
    id="bed-wine"
    title="Bed & Wine"
    subtitle="Suites"
    features={[
      "22 suites",
      "Diseño integrado al paisaje",
      "Piscina",
      "Habitación + office",
      "Galería con pérgola",
      "Zonas de fuegos para compartir",
    ]}
    images={[
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749241726/imgderecha1_mp6pf3.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242089/imgderecha2_engb9u.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242184/imgderecha3_oufppu.jpg",
    ]}
    client:load
  />

  <BannerHeroImage
    src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242318/campo_ae2u5v.jpg"
  />

  <BannerTextSlider
    id="casas"
    title="Casas"
    subtitle="Wine Lodge"
    features={[
      "1 y 2 dormitorios",
      "Para usar o alquilar",
      "Inspiradas en la naturaleza",
      "Funcionales, confortables y privadas",
      "Tu casa Plug & Play, 100% equipada",
    ]}
    images={[
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242786/slider1_yfjctn.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242788/slider2_j7qssg.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242787/slider3_km13xf.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242787/slider4_plqomf.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242787/slider5_fq3kby.jpg",
    ]}
    client:load
  />

  <BannerHeroImage
    src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749242942/campo2_fggsa5.jpg"
  />

  <BannerTextSlider
    id="fincas"
    title="Fincas"
    subtitle="Con viñedo"
    features={[
      "Viñedos propios de 7.000 m2 totales con área cultivada",
      "De amante del vino a dueño de un petit vineyard",
      "Inspiradas en la naturaleza",
      "Producción administrada por excpertos segun tu plan",
      "Vistas perfectas a la Cordillera de los Andes",
    ]}
    images={[
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749243172/slider1_x9w48w.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749243174/slider2_l3ptln.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749243175/slider3_y0vvty.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749243177/slider4_mgpenz.jpg",
      "https://res.cloudinary.com/dijfs2fcy/image/upload/v1749243178/slider5_bru7xr.jpg",
    ]}
    client:load
  />

  <BannerCabana />
  <WineRouteMap />
  <BannerHeroImage src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749243663/pileta-min_cgwxhh.jpg" />
  <Logos />
  <ContactForm client:load />
  <Footer />
</Layout>
