---
import Maintitle from "../MainTitle/Maintitle";


---

<section class="bg-[#687a67] h-[90vh] md:h-auto md:py-24 px-[51px] md:px-[121px]">
  <!-- Section Title -->
  <div class="relative top-22 mx-auto w-[80vw]">
    <Maintitle
      title="Equipo"
      classname="text-white mb-2 text-start md:hidden"
    />
  </div>
  <div
    class=" mx-auto h-full flex flex-col gap-0 justify-center md:flex-none p-0 m-0"
  >
    <!-- Section Title -->
    <div class="mb-12">
      <Maintitle
        title="Equipo"
        classname="text-white mb-2 text-start hidden md:flex"
      />
    </div>

    <!-- Partners/Companies Grid -->
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-0 md:gap-12 items-center  h-1/2 mb-20"
    >
      <!-- KDS Kapital del Sur -->
      <div
        class="flex flex-col items-center md:flex-row h-full justify-center md:justify-start border-b border-white md:border-none"
      >
        <div class="text-white mb-10 md:mb-0">
          <div class="flex items-center space-x-4">
            <img
              alt="KAPITAL DEL SUR"
              src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749687676/logo-kdt_nn2azz.svg"
              class="w-[205px] md:w-[350px]"
            />
          </div>
        </div>

      </div>

      <!-- Winefroz -->
      <div
        class="flex justify-center items-center flex-col h-full border-b border-white md:border-none py-20"
      >
        <!-- Text version -->
        <div class="text-white">
          <img
            alt="winefroz"
            src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749687733/winefroz-svg_uy1qag.svg"
            class="w-[205px] md:w-[350px]"
          />
        </div>
      </div>

      <!-- Castro Valenzuela Arquitectos -->
      <div class="flex justify-center md:justify-end pt-20 md:pt-0 ">
        <!-- Text version -->
        <div class="text-white flex items-center space-x-4 ">
          <!-- Architectural Logo/Symbol -->
          <div class="flex flex-col items-center  ">
            <img
              alt="castro valenzuela"
              src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749687820/castro-svg_ps1px8.svg"
              class="w-[205px] md:w-[350px]"
            />
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
