---
// Banner Cabaña
---

<section class="h-screen md:h-[90vh]">
  <img
    src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749393799/bannercabana_cwvd9z.jpg"
    alt="montañas y una piscina"
    class="w-full h-full object-cover"
  />
</section>