---
// Banner Cabaña
---

<section class="h-[282px] md:h-[90vh]">
  <img
    src="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749692922/bannercabana_n6b3ka.jpg"
   class="h-[282px] w-full md:h-full object-cover"
    style="max-width: 100%;"
  />
</section>