---
import Navbar from "../components/Navbar/Navbar";

interface Props {
  title: string;
  children?: any; 
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
      <!-- Open Graph / WhatsApp Preview 1200 x 630px la imagen de preview recomendacion WhatsApp cachea la imagen   agrégale un parámetro falso  /logo.jpg?v=2  -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content="Inside Uco se encuentra rodeado de las bodegas más emblemáticas del Valle de Uco. A menos de 30' de los nombres que hicieron de Mendoza una referencia mundial " />
  <meta property="og:image" content="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749319235/LOGO_Inside-Uco_ow5xm8.jpg" />
  <meta property="og:url" content="https://res.cloudinary.com/dijfs2fcy/image/upload/v1749319235/LOGO_Inside-Uco_ow5xm8.jpg" />
  <meta property="og:type" content="website" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar  client:load/>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
